h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: cadetblue;
}
h2,h3{
    text-align: center;
}
body{
    background-color: white;
}

table{
    padding-top: 10px;
    width: 15%;
}

header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

tr{
    width: 20%;
    font-size: 110%;
}
#formulario{
    padding-top: 1px;
    height: auto;
    width: 240px;
    background-color: cadetblue;
    border-radius: 15px;
    margin: 10px auto;
    padding-left: 50px;
    padding: 12px;
    padding-right: 10px;
    box-shadow: 6px 15px 10px black;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 13px;
    margin-left: 1px;
    

}
tr{
    background-color: white;
}

nav{
    text-align: center;
    display: block;
    margin: auto;
    height: 40px;
    width: 900px;
    background-color: white;
    border-radius: 100px;
    padding-top: 9px;
}
a{
    font-size: 25px;
    color: black;
    
}

input{
    padding-top: 2px;
    padding-left: 2px;
    height: 25px;
    width: 230px;
}

#lista_equipos{
    border-collapse: collapse;
    width: 80%;
}

#boton{
    text-align: center;
}

td{
    border: black 1px solid;
    margin: 10px;
    padding: 10px;
    
}

button{
    border-radius: 20px;
}
img{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}
#footer {
    margin-left: -8px;
    background-color: cadetblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: 100%;
    height: 60px;
    color: white;
    font-size: 30px; 
}

#datos{
    text-align: center;
}

#tabla{
    background-color: cadetblue;
    color: white;
}

#fondo_contacto{
    background-color: rgb(209, 199, 61);
}
#fondo_jornada{
    background-color: rgb(209, 199, 61);
}
#titulo_contacto{
    background-color: chocolate;
}

#fondo{
    background-image: url(futbol.jpg);
    background-size: cover;
}

#titulo_footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 13px;
    margin-left: 6px;
}